@model BSIT3L_Movies.Models.MovieViewModel


<!DOCTYPE html>
<html>
<head>
    <title>Movie</title>
</head>
<style>
    h2 {
        font-style: bold;
        color: brown;
        text-align: center;
        font-size: 35px;
    }
    p {
        font-style: oblique;
        color: rgb(129, 114, 35);
        text-align: center;
        font-size: 30px;
    }
</style>
<body>
    <h2>Movie Details</h2>
    <p>Movie ID: @Model.Id</p>
    <p>Movie Name: @Model.Name</p>
    <p>Rating: @Model.Rating</p>
    <p>Release Year: @Model.ReleaseYear</p>
    <p>Genre: @Model.Genre</p>
</body>
</html>